* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 10px 20% 0 20%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.nav_list {
  display: flex;
  gap: 8%;
  align-items: center;
}

.nav_list li:hover {
  color: blue;
}

.nav_list li {
  list-style: none;
  cursor: pointer;
}

.nav_list li:nth-child(1) {
  font-weight: bolder;
}

.nav_auth {
  display: flex;
  gap: 10px;
}

.log {
  all: unset;
  min-height: 35px;
  min-width: 65px;
  text-align: center;
  border-radius: 5px;
}

.log:hover {
  background: blue;
  color: white;
}

.sign {
  all: unset;
  min-height: 35px;
  min-width: 65px;
  text-align: center;
  border-radius: 5px;
  background: blue;
  color: white;
}
.sign:hover {
  background: white;
  color: black;
}

header {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

header h1 {
  font-size: 50px;
}
header p {
  color: gray;
  font-size: large;
}

.card-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  border: 1.7px solid blue;
  min-height: 350px;
  width: 250px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
}
.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card ul li {
  color: gray;
  display: flex;
  align-items: center;
}

.tick {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.card button {
  all: unset;
  cursor: pointer;
  width: 100%;
  background-color: blue;
  height: 30px;
  border-radius: 6px;
  text-align: center;
  color: white;
}

.card button:hover {
  box-shadow: 10px 10px 20px #888888;
}

.card:hover {
  margin-top: -20px;
  transition: 200ms ease-in-out;
}

@media (max-width: 1000px) {
  .menu {
    display: block;
  }
  .nav_list {
    display: none;
  }
}

@media (min-width: 1000px) {
  .menu {
    display: none;
  }
  .nav_list {
    display: flex;
  }
}

@media (max-width: 500px) {
  body {
    padding: 10px 2% 0 2%;
  }
}
